<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Team</th>
      <th scope="col" class="text-center">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let player of players"
      (click)="this.openDialog(player)"
      (keydown.enter)="this.openDialog(player)"
    >
      <td class="text-center">{{ player.name }}</td>
      <td class="text-center">{{ player.team | team }}</td>
      <td class="text-center">{{ player.role | role }}</td>
    </tr>
  </tbody>
</table>
