<ng-container *ngIf="player">
  <div class="m-3">
    <mat-card
      appearance="outlined"
      [ngClass]="{
        goalkeeper: isGoalkeeper(),
        defender: isDefender(),
        midfielder: isMidfielder(),
        stricker: isStricker()
      }"
      (click)="this.openDialog(player)"
      (keydown.enter)="this.openDialog(player)"
    >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="text-light">{{ player.name }}</mat-card-title>
          <mat-card-subtitle class="text-light">{{
            player.team
          }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>
