<div class="float-end m-2">
  <div *ngIf="isStartingOk">
    <button
      mat-fab
      aria-label="Example icon button with a delete icon"
      class="text-light text-center bg-success"
      (click)="this.openSnack()"
    >
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <div *ngIf="!isStartingOk">
    <button
      mat-fab
      aria-label="Example icon button with a delete icon"
      class="text-light text-center bg-warning"
      (click)="this.openSnack()"
    >
      <mat-icon>warning</mat-icon>
    </button>
  </div>
</div>
<div class="container">
  <h3 class="text-center">Starting XI</h3>
  <app-player-columnar-layout
    [players]="this.startingEleven"
    (onPlayerUpdatedEvent)="this.validateStarting()"
  >
  </app-player-columnar-layout>
  <mat-divider></mat-divider>
  <app-player-columnar-layout
    [players]="this.bench"
    (onPlayerUpdatedEvent)="this.validateStarting()"
  >
  </app-player-columnar-layout>
</div>
