<mat-dialog-content>
  <form>
    <div class="row">
      <div class="d-flex justify-content-center align-items-center">
        <h3>Sostituisci</h3>
      </div>
    </div>
    <div class="row mb-3 mt-3">
      <mat-form-field hintLabel="Max 10 characters" appearance="outline">
        <mat-label>Enter some input</mat-label>
        <input
          matInput
          #input
          maxlength="10"
          placeholder="Ex. Nougat"
          [value]="this.selectedPlayer.name"
        />
        <mat-hint align="end">hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="row mb-3 mt-3">
      <mat-form-field>
        <mat-label>Ruolo</mat-label>
        <mat-select [(value)]="this.selectedPlayer.role">
          @for (role of selectableRoles; track role) {
          <mat-option [value]="role">{{ role | role }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row mb-3 mt-3">
      <mat-form-field>
        <mat-label>Squadra</mat-label>
        <mat-select [(value)]="this.selectedPlayer.team">
          @for (team of selectableTeams; track team) {
          <mat-option [value]="team">{{ team | team }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button
        mat-flat-button
        (click)="this.save()"
        [mat-dialog-close]="this.selectedPlayer"
        class="mx-auto my-auto"
      >
        Salva
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
